name: Bump admin portal test

on:
  pull_request:
    types: [ opened, synchronize ]
    paths:
      - 'androidapp/**'
      - 'quarkusapp/**'
      - '.github/workflows/test.yml'
      - 'build.gradle.kts'
      - 'settings.gradle.kts'
      - 'gradle/**'
  push:
    branches:
      - main

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number }}
  cancel-in-progress: true

jobs:
  jvm-tests:

    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Set up JDK
        uses: actions/setup-java@v5
        with:
          distribution: 'temurin'
          java-version: '17'
      - name: Build and Test Android App
        run: ./gradlew :androidapp:test
      - name: Build and Test Quarkus App
        run: ./gradlew -Pquarkus :quarkusapp:test
